.filter-box {
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    h3 {
        margin-bottom: 10px ;
    }
    label {
            display: block;
            margin-bottom: 10px;
        }
}
.title {
    margin: 20px 0 10px;
    @media (max-width: 767px) {
        margin:0 0 10px;
    }
}