<h2 class="title">Filter</h2>
<div class="filter-box">
    <h3>Species</h3>
    <label *ngFor="let item of allFilters.species; let i = index">
        <input type="checkbox" [value]="item" [checked]="item.checked" (change)="updateFilter($event, item)"> 
        {{item?.value}}
    </label>
</div>

<div class="filter-box">
    <h3>Gender</h3>
    <label *ngFor="let item of allFilters.gender; let i = index">
        <input type="checkbox" [value]="item" [checked]="item.checked" (change)="updateFilter($event, item)"> 
        {{item?.value}}
    </label>  
</div>

<div class="filter-box">
    <h3>Origin</h3>
    <label *ngFor="let item of allFilters.origin; let i = index">
        <input type="checkbox" [value]="item" [checked]="item.checked" (change)="updateFilter($event, item)"> 
        {{item?.value}}
    </label>
</div>

